.validation-colours input.ng-invalid.ng-dirty {
	background-color: #FA787E;
}

.validation-colours input.ng-valid.ng-dirty {
	background-color: #78FA89;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#attributes input {
	width: 20px;
}
