<!doctype html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
		<title>My AngularJS App</title>
		<link rel="stylesheet" href="css/dndnext.css"/>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
		<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<script src="lib/angular/angular.js"></script>
		<script src="js/dndnext.js"></script>
		<script src="js/dice.js"></script>
		<script src="js/wotc.js"></script>

	</head>
	<body>
		<P class="lead">
			DND Next Character Generator
		</p>
		<div id="dndnext" ng-controller="CharCtrl" class="container-fluid">
			<P class="lead">
				{{step+1}}. {{stepTitle()}}
			</p>
			<div class="row-fluid">

				<div class="span3">

					<form name="attrForm" id="attributes" class="validation-colours"  ng-click="clickAttr($event)">
						<table>
							<tr>
								<td><label>Strength</label></td><td>
								<input ng-model="str" type="number" min="3" max="18" required ng-show="step==0"/>
								<label ng-show="step > 0">{{str}}</label></td>
							</tr>
							<tr>
								<td><label>Dexterity</label></td><td>
								<input ng-model="dex" type="number" min="3" max="18" required ng-show="step==0"/>
								<label ng-show="step > 0">{{dex}}</label></td>
							</tr>
							<tr>
								<td><label>Constitution</label></td><td>
								<input ng-model="con" type="number" min="3" max="18" required ng-show="step==0"/>
								<label ng-show="step > 0">{{con}}</label></td>
							</tr>
							<tr>
								<td><label>Intelligence</label></td><td>
								<input ng-model="int" type="number" min="3" max="18" required ng-show="step==0"/>
								<label ng-show="step > 0">{{int}}</label></td>
							</tr>
							<tr>
								<td><label>Wisdom</label></td><td>
								<input ng-model="wis" type="number" min="3" max="18" required ng-show="step==0"/>
								<label ng-show="step > 0">{{wis}}</label></td>
							</tr>
							<tr>
								<td><label>Charisma</label></td><td>
								<input ng-model="cha" type="number" min="3" max="18" required ng-show="step==0"/>
								<label ng-show="step > 0">{{cha}}</label></td>
							</tr>
						</table>
						<button class="btn btn-info" ng-click="roll()" ng-show="step==0">
							<i class="icon-plus-sign icon-white"></i> Roll for me
						</button>
						<button class="btn btn-success" ng-click="next()" ng-show="attrForm.$valid && step==0">
							<i class="icon-forward icon-white"></i> Next
						</button>

				</div>
				</form>
				<div class="span3">
					<form name="raceForm" ng-show="step >= 1">
						Race:
						<span ng-show="step > 1">{{race}}</span>
						<select ng-model="race" ng-change="changeRace()" required ng-show="step == 1">
							<option value="" disabled selected>Choose Race</option>
							<option value="dwarf">Dwarf</option>
							<option value="elf">Elf</option>
							<option value="halfling">Halfling</option>
							<option value="human">Human</option>
						</select>
						<button class="btn btn-success" ng-click="next()" ng-show="raceForm.$valid && step==1">
							<i class="icon-forward icon-white"></i> Next
						</button>
					</form>

					<form name="subraceForm" ng-show="step >= 2">
						Subrace:
						<span ng-show="step > 2">{{subrace}}</span>
						<select ng-model="subrace">
							<option value="" disabled selected required>Choose Subrace</option>
							<option ng-repeat="subrace in subraces" value="{{subrace}}">{{subrace}}</option>
						</select>
						<button class="btn btn-success" ng-click="next()" ng-show="subraceForm.$valid && step==1">
							<i class="icon-forward icon-white"></i> Next
						</button>
					</form>
				</div>
				<div class="span3">
					<div ng-bind-html-unsafe="desc"></div>
				</div>
			</div>
			<button class="btn" ng-click="reset()">
				<i class="icon-repeat"></i> Start Over
			</button>
		</div>

		<footer>
			Created by
			<br />
			<a href="http://kenstevens.com/">Ken Stevens</a>.
		</footer>
	</body>
</html>
